Repository marcmarina/drizzle-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json --write, prettier --write, dotenvx encrypt -f

.lintstagedrc:

{
  "package.json": ["sort-package-json --write"],
  "*.ts": ["prettier --write"],
  ".env.*": ["dotenvx encrypt -f"]
}

Added graceful shutdown timeout env var
  .env.development
  .env.production
  src/config/config.ts
  src/index.ts
Due: prettier --write, dotenvx encrypt -f

Removed keys fr
  .env.development
  .env.keys
  .env.production
Due: dotenvx encrypt -f

Updated values
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

Moved env files
  Dockerfile
  environments/.env.development
  environments/.env.production
  package.json
  src/index.ts
Due: sort-package-json --write, prettier --write, dotenvx encrypt -f

Fixed dir
  vitest.config.mts
Due: none

Extracted to const
  src/index.ts
Due: prettier --write

Dotenvx (#3)
  .env.example
  .env.keys
  .gitignore
  .lintstagedrc
  Dockerfile
  environments/.env.development
  environments/.env.production
  helm/templates/deployment.yaml
  helm/values.yaml
  package.json
  src/config/config.ts
  src/index.ts
  vitest.config.mts
  yarn.lock
Due: sort-package-json --write, prettier --write, dotenvx encrypt -f

Rotated env files
  environments/.env.development
  environments/.env.production
Due: dotenvx encrypt -f

Added NODE_ENV to Helm
  helm/values.yaml
Due: none

Deleted migration script
  src/database/migrate.ts
Due: prettier --write

Updated local log format
  environments/.env.development
Due: dotenvx encrypt -f

Removed serve command
  package.json
Due: sort-package-json --write

Returned migrate script
  src/database/migrate.ts
Due: prettier --write

Closing pool
  src/database/migrate.ts
  src/index.ts
Due: prettier --write

Added @types/node
  package.json
  yarn.lock
Due: sort-package-json --write

Added Helm scripts
  package.json
Due: sort-package-json --write

Added zx
  package.json
  scripts/deploy.mjs
  yarn.lock
Due: sort-package-json --write

Using commit SHA
  scripts/deploy.mjs
Due: none

Moved image const up
  scripts/deploy.mjs
Due: none

Removed router
  src/server.ts
Due: prettier --write

Removed unused import
  src/server.ts
Due: prettier --write

Added eslint
  eslint.config.mts
  package.json
  src/config/helpers.ts
  src/database/database.ts
  src/database/drizzle.config.ts
  src/database/migrate.ts
  src/index.ts
  src/logger.ts
  src/routes/user-routes.ts
  src/server.ts
  yarn.lock
Due: sort-package-json --write, prettier --write

Reordered code
  src/index.ts
Due: prettier --write
